@import '../styles/utils/colors.scss';


:host {

  .grid-container {
    background-color: $background;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 2fr;
    grid-template-areas: 'header' 'body';
    height: 100vh;
    overflow: hidden;

    .Header {
      grid-area: header;
    }
    .Body {
      grid-area: body;
    }

  }
}
