@import '../../../../styles/utils/tipography.scss';
@import '../../../../styles/utils/colors.scss';

:host{
  .header{
    background-color: $accent;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 2rem;
    color: #fff;

    &__title{
      @include font-title(2rem);
    }
  }
}
