 @import '../../../../styles/utils/magins.scss';
 @import '../../../../styles/utils/colors.scss';

.seeker-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 7fr;
  grid-template-areas: 'seeker' 'films';
  height: 100%;

  // &.no-content {
  //   grid-template-rows: 1fr 0fr  ;

  //   .seeker {
  //     border: none;
  //   }

  //   .films {
  //     padding: 0;
  //   }

  // }

  .seeker {
    border: 1px solid $grey;
    color: $text-default;
    display: flex;
    grid-area: seeker;
    justify-content: center;
    align-items: center;
    padding: $size-xs;


    mat-form-field {
      margin-right: $size-s;

      button {
        font-family: 'Material Icons';
      }
    }
  }

  .films {
    grid-area: films;
    position: relative;
    height: 84vh;

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 2rem;
      overflow: hidden;
      padding: $size-l;
    }

  }
}
