@import '../../../../../../styles/utils/colors.scss';

.film-card {
  border: 1px solid $grey;

  .mat-card-header{
    width: 85%;
  }

  .mat-card-header-text {
    width: calc(100% - 2rem);
  }

  .mat-card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .mat-icon-button{
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  img {
    max-height: 27rem;
    min-height: 27rem;
  }
}


