/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "utils/colors.scss";
@import "utils/tipography.scss";

@include angular-material-theme($app-theme);

body {
  @include font-default();
  height: 100vh;
  margin: 0;
  width: 100vw;
}
